doctype html
html
  head
    title= title
    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", rel="stylesheet")
    link(href="/vendor/bootstrap3-editable-1.5.1/bootstrap3-editable/css/bootstrap-editable.css", rel="stylesheet")
    
      
      
    link(rel='stylesheet', href='/stylesheets/style.css')
    
      
  body
    block content
      
      
    script(src="/vendor/jquery-2.0.3.min.js")
    script(src="/vendor/bootstrap-3.2.0.min.js")
    
    script(src="/vendor/knockout-3.2.0.js")
    script(src="/vendor/knockout.mapping-latest.js")
    
    
    script(src="/vendor/bootstrap3-editable-1.5.1/bootstrap3-editable/js/bootstrap-editable.min.js")
    
    script(src="/vendor/knockout.x-editable.min.js")
    script(src="/vendor/StringInterpolatingBindingProvider.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/client.js")
    script(src="/vendor/hubspot/js/messenger.min.js")
    script(src="/vendor/hubspot/js/messenger-theme-future.js")
